<!-- preloader -->
<div id="preloader" class="fixed top-0 left-0 z-[600] w-screen h-screen flex items-center justify-center bg-newPrimary">
  <div class="text-white">
    <img src="./assets/obst.png" class="w-[100px] block mx-auto" alt="" srcset="" />
    <h1 class="text-2xl mt-5 flex gap-x-5 items-center">
      OBST Solar Power
      <svg xmlns="http://www.w3.org/2000/svg" class="animate-spin w-5 h-5 fill-white" viewBox="0 0 1000 1000">
        <path
          class="fil0"
          d="M854.569 841.338c-188.268 189.444 -519.825 171.223 -704.157 -13.109 -190.56 -190.56 -200.048 -493.728 -28.483 -695.516 10.739 -12.623 21.132 -25.234 34.585 -33.667 36.553 -22.89 85.347 -18.445 117.138 13.347 30.228 30.228 35.737 75.83 16.531 111.665 -4.893 9.117 -9.221 14.693 -16.299 22.289 -140.375 150.709 -144.886 378.867 -7.747 516.005 152.583 152.584 406.604 120.623 541.406 -34.133 106.781 -122.634 142.717 -297.392 77.857 -451.04 -83.615 -198.07 -305.207 -291.19 -510.476 -222.476l-.226 -.226c235.803 -82.501 492.218 23.489 588.42 251.384 70.374 166.699 36.667 355.204 -71.697 493.53 -11.48 14.653 -23.724 28.744 -36.852 41.948z"
        />
      </svg>
    </h1>
  </div>
</div>
<script>
  addEventListener("load", (event) => {
    document.getElementById("preloader").classList.add("hidden");
  });
</script>

<div class="fixed z-[300] right-5 bottom-5 sm:right-10 sm:bottom-10 rounded-md group max-w-[250px] md:max-w-[350px]">
  <div id="chat" class="h-0 overflow-hidden transition-[height] duration-300">
    <div id="closeChat" class="ms-auto w-fit bg-primary p-2 mb-2 rounded-full cursor-pointer">
      <svg class="w-7 fill-white" version="1.1" id="Layer_1" viewBox="0 0 512 512" xml:space="preserve">
        <g>
          <g>
            <path
              d="M436.994,74.943c-99.834-99.833-262.285-99.833-362.119,0c-99.834,99.834-99.834,262.275,0,362.109    c49.917,49.917,115.493,74.881,181.059,74.881c65.566,0,131.142-24.964,181.059-74.881C485.359,388.692,512,324.393,512,255.997    C512,187.603,485.359,123.302,436.994,74.943z M421.908,421.966c-91.52,91.513-240.426,91.524-331.946,0    c-91.509-91.516-91.509-240.422,0-331.935c45.76-45.761,105.866-68.64,165.973-68.64c60.106,0,120.213,22.879,165.973,68.64    c44.332,44.331,68.754,103.271,68.754,165.966C490.662,318.693,466.24,377.632,421.908,421.966z"
            />
          </g>
        </g>
        <g>
          <g>
            <polygon
              points="271.024,255.996 376.648,150.375 361.561,135.289 255.937,240.908 150.318,135.289 135.232,150.375     240.851,255.994 142.775,354.065 157.862,369.153 255.937,271.081 361.686,376.83 376.773,361.743   "
            />
          </g>
        </g>
      </svg>
    </div>
    <div class="bg-white">
      <div class="text-center bg-primary text-white py-5 text-xs px-3 rounded-t-md">
        Our customer support is here to answer your questions. Ask us anything!
      </div>
      <div class="border-y border-y-primary py-3">
        <a href="https://wa.me/2349129968612" target="_blank" class="flex gap-x-5 px-2 items-center">
          <img src="./webp/peace.webp" class="w-12" alt="" srcset="" />
          <div>
            <h1>Peace</h1>
            <p class="text-sm text-gray-700">online</p>
          </div>
          <div class="ms-auto">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-7" viewBox="0 0 24 24" fill="none">
              <path
                d="M16.1007 13.359L15.5719 12.8272H15.5719L16.1007 13.359ZM16.5562 12.9062L17.085 13.438H17.085L16.5562 12.9062ZM18.9728 12.5894L18.6146 13.2483L18.9728 12.5894ZM20.8833 13.628L20.5251 14.2869L20.8833 13.628ZM21.4217 16.883L21.9505 17.4148L21.4217 16.883ZM20.0011 18.2954L19.4723 17.7636L20.0011 18.2954ZM18.6763 18.9651L18.7459 19.7119H18.7459L18.6763 18.9651ZM8.81536 14.7266L9.34418 14.1947L8.81536 14.7266ZM4.00289 5.74561L3.2541 5.78816L3.2541 5.78816L4.00289 5.74561ZM10.4775 7.19738L11.0063 7.72922H11.0063L10.4775 7.19738ZM10.6342 4.54348L11.2346 4.09401L10.6342 4.54348ZM9.37326 2.85908L8.77286 3.30855V3.30855L9.37326 2.85908ZM6.26145 2.57483L6.79027 3.10667H6.79027L6.26145 2.57483ZM4.69185 4.13552L4.16303 3.60368H4.16303L4.69185 4.13552ZM12.0631 11.4972L12.5919 10.9654L12.0631 11.4972ZM16.6295 13.8909L17.085 13.438L16.0273 12.3743L15.5719 12.8272L16.6295 13.8909ZM18.6146 13.2483L20.5251 14.2869L21.2415 12.9691L19.331 11.9305L18.6146 13.2483ZM20.8929 16.3511L19.4723 17.7636L20.5299 18.8273L21.9505 17.4148L20.8929 16.3511ZM18.6067 18.2184C17.1568 18.3535 13.4056 18.2331 9.34418 14.1947L8.28654 15.2584C12.7186 19.6653 16.9369 19.8805 18.7459 19.7119L18.6067 18.2184ZM9.34418 14.1947C5.4728 10.3453 4.83151 7.10765 4.75168 5.70305L3.2541 5.78816C3.35456 7.55599 4.14863 11.144 8.28654 15.2584L9.34418 14.1947ZM10.7195 8.01441L11.0063 7.72922L9.9487 6.66555L9.66189 6.95073L10.7195 8.01441ZM11.2346 4.09401L9.97365 2.40961L8.77286 3.30855L10.0338 4.99296L11.2346 4.09401ZM5.73263 2.04299L4.16303 3.60368L5.22067 4.66736L6.79027 3.10667L5.73263 2.04299ZM10.1907 7.48257C9.66189 6.95073 9.66117 6.95144 9.66045 6.95216C9.66021 6.9524 9.65949 6.95313 9.659 6.95362C9.65802 6.95461 9.65702 6.95561 9.65601 6.95664C9.65398 6.95871 9.65188 6.96086 9.64972 6.9631C9.64539 6.96759 9.64081 6.97245 9.63599 6.97769C9.62634 6.98816 9.61575 7.00014 9.60441 7.01367C9.58174 7.04072 9.55605 7.07403 9.52905 7.11388C9.47492 7.19377 9.41594 7.2994 9.36589 7.43224C9.26376 7.70329 9.20901 8.0606 9.27765 8.50305C9.41189 9.36833 10.0078 10.5113 11.5343 12.0291L12.5919 10.9654C11.1634 9.54499 10.8231 8.68059 10.7599 8.27309C10.7298 8.07916 10.761 7.98371 10.7696 7.96111C10.7748 7.94713 10.7773 7.9457 10.7709 7.95525C10.7677 7.95992 10.7624 7.96723 10.7541 7.97708C10.75 7.98201 10.7451 7.98759 10.7394 7.99381C10.7365 7.99692 10.7335 8.00019 10.7301 8.00362C10.7285 8.00534 10.7268 8.00709 10.725 8.00889C10.7241 8.00979 10.7232 8.0107 10.7223 8.01162C10.7219 8.01208 10.7212 8.01278 10.7209 8.01301C10.7202 8.01371 10.7195 8.01441 10.1907 7.48257ZM11.5343 12.0291C13.0613 13.5474 14.2096 14.1383 15.0763 14.2713C15.5192 14.3392 15.8763 14.285 16.1472 14.1841C16.28 14.1346 16.3858 14.0763 16.4658 14.0227C16.5058 13.9959 16.5392 13.9704 16.5663 13.9479C16.5799 13.9367 16.5919 13.9262 16.6024 13.9166C16.6077 13.9118 16.6126 13.9073 16.6171 13.903C16.6194 13.9008 16.6215 13.8987 16.6236 13.8967C16.6246 13.8957 16.6256 13.8947 16.6266 13.8937C16.6271 13.8932 16.6279 13.8925 16.6281 13.8923C16.6288 13.8916 16.6295 13.8909 16.1007 13.359C15.5719 12.8272 15.5726 12.8265 15.5733 12.8258C15.5735 12.8256 15.5742 12.8249 15.5747 12.8244C15.5756 12.8235 15.5765 12.8226 15.5774 12.8217C15.5793 12.82 15.581 12.8183 15.5827 12.8166C15.5862 12.8133 15.5895 12.8103 15.5926 12.8074C15.5988 12.8018 15.6044 12.7969 15.6094 12.7929C15.6192 12.7847 15.6265 12.7795 15.631 12.7764C15.6403 12.7702 15.6384 12.773 15.6236 12.7785C15.5991 12.7876 15.501 12.8189 15.3038 12.7886C14.8905 12.7253 14.02 12.3853 12.5919 10.9654L11.5343 12.0291ZM9.97365 2.40961C8.95434 1.04802 6.94996 0.83257 5.73263 2.04299L6.79027 3.10667C7.32195 2.578 8.26623 2.63181 8.77286 3.30855L9.97365 2.40961ZM4.75168 5.70305C4.73201 5.35694 4.89075 4.9954 5.22067 4.66736L4.16303 3.60368C3.62571 4.13795 3.20329 4.89425 3.2541 5.78816L4.75168 5.70305ZM19.4723 17.7636C19.1975 18.0369 18.9029 18.1908 18.6067 18.2184L18.7459 19.7119C19.4805 19.6434 20.0824 19.2723 20.5299 18.8273L19.4723 17.7636ZM11.0063 7.72922C11.9908 6.7503 12.064 5.2019 11.2346 4.09401L10.0338 4.99295C10.4373 5.53193 10.3773 6.23938 9.9487 6.66555L11.0063 7.72922ZM20.5251 14.2869C21.3429 14.7315 21.4703 15.7769 20.8929 16.3511L21.9505 17.4148C23.2908 16.0821 22.8775 13.8584 21.2415 12.9691L20.5251 14.2869ZM17.085 13.438C17.469 13.0562 18.0871 12.9616 18.6146 13.2483L19.331 11.9305C18.2474 11.3414 16.9026 11.5041 16.0273 12.3743L17.085 13.438Z"
                fill="#1C274C"
              />
            </svg>
          </div>
        </a>
      </div>
      <div class="border-y border-y-primary py-3">
        <a href="https://wa.me/2348110400099" target="_blank" class="flex gap-x-5 px-2 items-center">
          <img src="./webp/peace.webp" class="w-12" alt="" srcset="" />
          <div>
            <h1>Mercy</h1>
            <p class="text-sm text-gray-700">online</p>
          </div>
          <div class="ms-auto">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-7" viewBox="0 0 24 24" fill="none">
              <path
                d="M16.1007 13.359L15.5719 12.8272H15.5719L16.1007 13.359ZM16.5562 12.9062L17.085 13.438H17.085L16.5562 12.9062ZM18.9728 12.5894L18.6146 13.2483L18.9728 12.5894ZM20.8833 13.628L20.5251 14.2869L20.8833 13.628ZM21.4217 16.883L21.9505 17.4148L21.4217 16.883ZM20.0011 18.2954L19.4723 17.7636L20.0011 18.2954ZM18.6763 18.9651L18.7459 19.7119H18.7459L18.6763 18.9651ZM8.81536 14.7266L9.34418 14.1947L8.81536 14.7266ZM4.00289 5.74561L3.2541 5.78816L3.2541 5.78816L4.00289 5.74561ZM10.4775 7.19738L11.0063 7.72922H11.0063L10.4775 7.19738ZM10.6342 4.54348L11.2346 4.09401L10.6342 4.54348ZM9.37326 2.85908L8.77286 3.30855V3.30855L9.37326 2.85908ZM6.26145 2.57483L6.79027 3.10667H6.79027L6.26145 2.57483ZM4.69185 4.13552L4.16303 3.60368H4.16303L4.69185 4.13552ZM12.0631 11.4972L12.5919 10.9654L12.0631 11.4972ZM16.6295 13.8909L17.085 13.438L16.0273 12.3743L15.5719 12.8272L16.6295 13.8909ZM18.6146 13.2483L20.5251 14.2869L21.2415 12.9691L19.331 11.9305L18.6146 13.2483ZM20.8929 16.3511L19.4723 17.7636L20.5299 18.8273L21.9505 17.4148L20.8929 16.3511ZM18.6067 18.2184C17.1568 18.3535 13.4056 18.2331 9.34418 14.1947L8.28654 15.2584C12.7186 19.6653 16.9369 19.8805 18.7459 19.7119L18.6067 18.2184ZM9.34418 14.1947C5.4728 10.3453 4.83151 7.10765 4.75168 5.70305L3.2541 5.78816C3.35456 7.55599 4.14863 11.144 8.28654 15.2584L9.34418 14.1947ZM10.7195 8.01441L11.0063 7.72922L9.9487 6.66555L9.66189 6.95073L10.7195 8.01441ZM11.2346 4.09401L9.97365 2.40961L8.77286 3.30855L10.0338 4.99296L11.2346 4.09401ZM5.73263 2.04299L4.16303 3.60368L5.22067 4.66736L6.79027 3.10667L5.73263 2.04299ZM10.1907 7.48257C9.66189 6.95073 9.66117 6.95144 9.66045 6.95216C9.66021 6.9524 9.65949 6.95313 9.659 6.95362C9.65802 6.95461 9.65702 6.95561 9.65601 6.95664C9.65398 6.95871 9.65188 6.96086 9.64972 6.9631C9.64539 6.96759 9.64081 6.97245 9.63599 6.97769C9.62634 6.98816 9.61575 7.00014 9.60441 7.01367C9.58174 7.04072 9.55605 7.07403 9.52905 7.11388C9.47492 7.19377 9.41594 7.2994 9.36589 7.43224C9.26376 7.70329 9.20901 8.0606 9.27765 8.50305C9.41189 9.36833 10.0078 10.5113 11.5343 12.0291L12.5919 10.9654C11.1634 9.54499 10.8231 8.68059 10.7599 8.27309C10.7298 8.07916 10.761 7.98371 10.7696 7.96111C10.7748 7.94713 10.7773 7.9457 10.7709 7.95525C10.7677 7.95992 10.7624 7.96723 10.7541 7.97708C10.75 7.98201 10.7451 7.98759 10.7394 7.99381C10.7365 7.99692 10.7335 8.00019 10.7301 8.00362C10.7285 8.00534 10.7268 8.00709 10.725 8.00889C10.7241 8.00979 10.7232 8.0107 10.7223 8.01162C10.7219 8.01208 10.7212 8.01278 10.7209 8.01301C10.7202 8.01371 10.7195 8.01441 10.1907 7.48257ZM11.5343 12.0291C13.0613 13.5474 14.2096 14.1383 15.0763 14.2713C15.5192 14.3392 15.8763 14.285 16.1472 14.1841C16.28 14.1346 16.3858 14.0763 16.4658 14.0227C16.5058 13.9959 16.5392 13.9704 16.5663 13.9479C16.5799 13.9367 16.5919 13.9262 16.6024 13.9166C16.6077 13.9118 16.6126 13.9073 16.6171 13.903C16.6194 13.9008 16.6215 13.8987 16.6236 13.8967C16.6246 13.8957 16.6256 13.8947 16.6266 13.8937C16.6271 13.8932 16.6279 13.8925 16.6281 13.8923C16.6288 13.8916 16.6295 13.8909 16.1007 13.359C15.5719 12.8272 15.5726 12.8265 15.5733 12.8258C15.5735 12.8256 15.5742 12.8249 15.5747 12.8244C15.5756 12.8235 15.5765 12.8226 15.5774 12.8217C15.5793 12.82 15.581 12.8183 15.5827 12.8166C15.5862 12.8133 15.5895 12.8103 15.5926 12.8074C15.5988 12.8018 15.6044 12.7969 15.6094 12.7929C15.6192 12.7847 15.6265 12.7795 15.631 12.7764C15.6403 12.7702 15.6384 12.773 15.6236 12.7785C15.5991 12.7876 15.501 12.8189 15.3038 12.7886C14.8905 12.7253 14.02 12.3853 12.5919 10.9654L11.5343 12.0291ZM9.97365 2.40961C8.95434 1.04802 6.94996 0.83257 5.73263 2.04299L6.79027 3.10667C7.32195 2.578 8.26623 2.63181 8.77286 3.30855L9.97365 2.40961ZM4.75168 5.70305C4.73201 5.35694 4.89075 4.9954 5.22067 4.66736L4.16303 3.60368C3.62571 4.13795 3.20329 4.89425 3.2541 5.78816L4.75168 5.70305ZM19.4723 17.7636C19.1975 18.0369 18.9029 18.1908 18.6067 18.2184L18.7459 19.7119C19.4805 19.6434 20.0824 19.2723 20.5299 18.8273L19.4723 17.7636ZM11.0063 7.72922C11.9908 6.7503 12.064 5.2019 11.2346 4.09401L10.0338 4.99295C10.4373 5.53193 10.3773 6.23938 9.9487 6.66555L11.0063 7.72922ZM20.5251 14.2869C21.3429 14.7315 21.4703 15.7769 20.8929 16.3511L21.9505 17.4148C23.2908 16.0821 22.8775 13.8584 21.2415 12.9691L20.5251 14.2869ZM17.085 13.438C17.469 13.0562 18.0871 12.9616 18.6146 13.2483L19.331 11.9305C18.2474 11.3414 16.9026 11.5041 16.0273 12.3743L17.085 13.438Z"
                fill="#1C274C"
              />
            </svg>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div
    id="newChat"
    class="bg-gradient-to-r from-25% from-[#f34700] to-[#f98703] px-5 py-2 text-white flex items-center rounded-b-md rounded-t-md gap-x-4 cursor-pointer"
  >
    <svg xmlns="http://www.w3.org/2000/svg" class="w-7 sm:w-8" viewBox="0 0 32 32" fill="none">
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M16 31C23.732 31 30 24.732 30 17C30 9.26801 23.732 3 16 3C8.26801 3 2 9.26801 2 17C2 19.5109 2.661 21.8674 3.81847 23.905L2 31L9.31486 29.3038C11.3014 30.3854 13.5789 31 16 31ZM16 28.8462C22.5425 28.8462 27.8462 23.5425 27.8462 17C27.8462 10.4576 22.5425 5.15385 16 5.15385C9.45755 5.15385 4.15385 10.4576 4.15385 17C4.15385 19.5261 4.9445 21.8675 6.29184 23.7902L5.23077 27.7692L9.27993 26.7569C11.1894 28.0746 13.5046 28.8462 16 28.8462Z"
        fill="#BFC8D0"
      />
      <path
        d="M28 16C28 22.6274 22.6274 28 16 28C13.4722 28 11.1269 27.2184 9.19266 25.8837L5.09091 26.9091L6.16576 22.8784C4.80092 20.9307 4 18.5589 4 16C4 9.37258 9.37258 4 16 4C22.6274 4 28 9.37258 28 16Z"
        fill="url(#paint0_linear_87_7264)"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M16 30C23.732 30 30 23.732 30 16C30 8.26801 23.732 2 16 2C8.26801 2 2 8.26801 2 16C2 18.5109 2.661 20.8674 3.81847 22.905L2 30L9.31486 28.3038C11.3014 29.3854 13.5789 30 16 30ZM16 27.8462C22.5425 27.8462 27.8462 22.5425 27.8462 16C27.8462 9.45755 22.5425 4.15385 16 4.15385C9.45755 4.15385 4.15385 9.45755 4.15385 16C4.15385 18.5261 4.9445 20.8675 6.29184 22.7902L5.23077 26.7692L9.27993 25.7569C11.1894 27.0746 13.5046 27.8462 16 27.8462Z"
        fill="white"
      />
      <path
        d="M12.5 9.49989C12.1672 8.83131 11.6565 8.8905 11.1407 8.8905C10.2188 8.8905 8.78125 9.99478 8.78125 12.05C8.78125 13.7343 9.52345 15.578 12.0244 18.3361C14.438 20.9979 17.6094 22.3748 20.2422 22.3279C22.875 22.2811 23.4167 20.0154 23.4167 19.2503C23.4167 18.9112 23.2062 18.742 23.0613 18.696C22.1641 18.2654 20.5093 17.4631 20.1328 17.3124C19.7563 17.1617 19.5597 17.3656 19.4375 17.4765C19.0961 17.8018 18.4193 18.7608 18.1875 18.9765C17.9558 19.1922 17.6103 19.083 17.4665 19.0015C16.9374 18.7892 15.5029 18.1511 14.3595 17.0426C12.9453 15.6718 12.8623 15.2001 12.5959 14.7803C12.3828 14.4444 12.5392 14.2384 12.6172 14.1483C12.9219 13.7968 13.3426 13.254 13.5313 12.9843C13.7199 12.7145 13.5702 12.305 13.4803 12.05C13.0938 10.953 12.7663 10.0347 12.5 9.49989Z"
        fill="white"
      />
      <defs>
        <linearGradient id="paint0_linear_87_7264" x1="26.5" y1="7" x2="4" y2="28" gradientUnits="userSpaceOnUse">
          <stop stop-color="#5BD066" />
          <stop offset="1" stop-color="#27B43E" />
        </linearGradient>
      </defs>
    </svg>
    <p class="text-sm">Need help ? Chat with Us</p>
  </div>
</div>
<script>
  document.getElementById("newChat").addEventListener("click", function (e) {
    document.getElementById("chat").classList.remove("h-0");
    document.getElementById("chat").classList.add("h-[300px]");
    document.getElementById("newChat").classList.remove("rounded-t-md");
  });
  document.getElementById("closeChat").addEventListener("click", function (e) {
    document.getElementById("chat").classList.remove("h-[300px]");
    document.getElementById("chat").classList.add("h-0");
    document.getElementById("newChat").classList.add("rounded-t-md");
  });
</script>

<footer class="bg-black mt-20 pb-20 text-white">
  <div class="section">
    <div class="lg:flex justify-between">
      <div class="col-span-1 flex shrink-0 items-center gap-x-2">
        <img src="./assets/obst.png" class="max-md:w-[36px] w-[50px]" />
        <p class="text-2xl">OBST</p>
      </div>
      <div class="max-w-[600px] grid-cols-1 sm:grid-cols-2 flex-grow lg:col-span-2 grid max-lg:mt-10 max-sm:space-y-10">
        <div class="col-span-1">
          <ul class="space-y-5">
            <li class="text-xl font-bold">Quick Links</li>
            <li><a class="hover:text-gray-500" href="./about.html">About Us</a></li>
            <li><a class="hover:text-gray-500" href="./services.html">Services</a></li>
            <li><a class="hover:text-gray-500" href="./contact.html">Contact Us</a></li>
            <li><a class="hover:text-gray-500" href="./career.html">Careers</a></li>
          </ul>
        </div>
        <div class="col-span-1">
          <ul class="space-y-5">
            <li class="text-xl font-bold">Products</li>
            <li><a class="hover:text-gray-500" href="./product-<%=products[1]._id %>.html"><%=products[1].title.slice(0,20) + "..." %></a></li>
            <li><a class="hover:text-gray-500" href="./product-<%=products[3]._id %>.html"><%=products[3].title.slice(0,20) + "..." %></a></li>
            <li><a class="hover:text-gray-500" href="./product-<%=products[7]._id %>.html"><%=products[7].title.slice(0,20) + "..." %></a></li>
            <li><a class="hover:text-gray-500" href="./product-<%=products[5]._id %>.html"><%=products[5].title.slice(0,20) + "..." %></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <hr class="text-white my-5" />
  <div class="max-sm:flex-col flex justify-between max-w-[1300px] max-md:px-5 mx-auto max-sm:gap-y-7">
    <h1 class="text-base max-sm:order-2">&copy; 2023 O.B.S.T Solar Power Company. All rights reserved.</h1>
    <p class="hidden">Website developed by <a href="https://www.linkedin.com/in/chukwuebukastanley/" target="_blank">Chukwuebuka Azuka Stanley</a></p>
    <ul class="flex gap-x-4 items-center max-sm:order-1">
      <li class="group">
        <a href="https://www.facebook.com/profile.php?id=61551570284692&mibextid=ZbWKwL" target="_blank">
          <svg width="25" height="24" viewBox="0 0 25 24" fill="none">
            <path
              class="fill-white group-hover:fill-indigo-300"
              d="M24.0186 12.0298C24.0186 5.40579 18.6426 0.0297852 12.0186 0.0297852C5.39456 0.0297852 0.0185547 5.40579 0.0185547 12.0298C0.0185547 17.8378 4.14655 22.6738 9.61856 23.7898V15.6298H7.21855V12.0298H9.61856V9.02978C9.61856 6.71378 11.5026 4.82978 13.8186 4.82978H16.8186V8.42978H14.4186C13.7586 8.42978 13.2186 8.96978 13.2186 9.62978V12.0298H16.8186V15.6298H13.2186V23.9698C19.2786 23.3698 24.0186 18.2578 24.0186 12.0298Z"
            />
          </svg>
        </a>
      </li>
      <li class="group">
        <a href="https://www.instagram.com/obstsolar?igsh=MWZkMDg1b2cyeGJqcQ==" target="_blank">
          <svg width="25" height="24" viewBox="0 0 25 24" fill="none">
            <path
              class="fill-white group-hover:fill-indigo-300"
              d="M6.97856 0H17.0586C20.8986 0 24.0186 3.12 24.0186 6.96V17.04C24.0186 18.8859 23.2853 20.6562 21.98 21.9615C20.6748 23.2667 18.9045 24 17.0586 24H6.97856C3.13856 24 0.0185547 20.88 0.0185547 17.04V6.96C0.0185547 5.11409 0.751838 3.34379 2.05709 2.03854C3.36234 0.733284 5.13265 0 6.97856 0ZM6.73855 2.4C5.59282 2.4 4.49401 2.85514 3.68385 3.6653C2.8737 4.47546 2.41855 5.57427 2.41855 6.72V17.28C2.41855 19.668 4.35055 21.6 6.73855 21.6H17.2986C18.4443 21.6 19.5431 21.1449 20.3533 20.3347C21.1634 19.5245 21.6186 18.4257 21.6186 17.28V6.72C21.6186 4.332 19.6866 2.4 17.2986 2.4H6.73855ZM18.3186 4.2C18.7164 4.2 19.0979 4.35804 19.3792 4.63934C19.6605 4.92064 19.8186 5.30218 19.8186 5.7C19.8186 6.09783 19.6605 6.47936 19.3792 6.76066C19.0979 7.04197 18.7164 7.2 18.3186 7.2C17.9207 7.2 17.5392 7.04197 17.2579 6.76066C16.9766 6.47936 16.8186 6.09783 16.8186 5.7C16.8186 5.30218 16.9766 4.92064 17.2579 4.63934C17.5392 4.35804 17.9207 4.2 18.3186 4.2ZM12.0186 6C13.6099 6 15.136 6.63214 16.2612 7.75736C17.3864 8.88258 18.0186 10.4087 18.0186 12C18.0186 13.5913 17.3864 15.1174 16.2612 16.2426C15.136 17.3679 13.6099 18 12.0186 18C10.4273 18 8.90113 17.3679 7.77591 16.2426C6.6507 15.1174 6.01855 13.5913 6.01855 12C6.01855 10.4087 6.6507 8.88258 7.77591 7.75736C8.90113 6.63214 10.4273 6 12.0186 6ZM12.0186 8.4C11.0638 8.4 10.1481 8.77928 9.47297 9.45442C8.79784 10.1295 8.41856 11.0452 8.41856 12C8.41856 12.9548 8.79784 13.8705 9.47297 14.5456C10.1481 15.2207 11.0638 15.6 12.0186 15.6C12.9733 15.6 13.889 15.2207 14.5641 14.5456C15.2393 13.8705 15.6186 12.9548 15.6186 12C15.6186 11.0452 15.2393 10.1295 14.5641 9.45442C13.889 8.77928 12.9733 8.4 12.0186 8.4Z"
            />
          </svg>
        </a>
      </li>
      <li class="group">
        <a href="https://www.tiktok.com/@obst.solar?_t=8lxjpAstZ7W&_r=1" target="_blank">
          <svg width="25" height="24" viewBox="0 0 32 32" class="fill-white" version="1.1">
            <title>tiktok</title>
            <path
              d="M16.656 1.029c1.637-0.025 3.262-0.012 4.886-0.025 0.054 2.031 0.878 3.859 2.189 5.213l-0.002-0.002c1.411 1.271 3.247 2.095 5.271 2.235l0.028 0.002v5.036c-1.912-0.048-3.71-0.489-5.331-1.247l0.082 0.034c-0.784-0.377-1.447-0.764-2.077-1.196l0.052 0.034c-0.012 3.649 0.012 7.298-0.025 10.934-0.103 1.853-0.719 3.543-1.707 4.954l0.020-0.031c-1.652 2.366-4.328 3.919-7.371 4.011l-0.014 0c-0.123 0.006-0.268 0.009-0.414 0.009-1.73 0-3.347-0.482-4.725-1.319l0.040 0.023c-2.508-1.509-4.238-4.091-4.558-7.094l-0.004-0.041c-0.025-0.625-0.037-1.25-0.012-1.862 0.49-4.779 4.494-8.476 9.361-8.476 0.547 0 1.083 0.047 1.604 0.136l-0.056-0.008c0.025 1.849-0.050 3.699-0.050 5.548-0.423-0.153-0.911-0.242-1.42-0.242-1.868 0-3.457 1.194-4.045 2.861l-0.009 0.030c-0.133 0.427-0.21 0.918-0.21 1.426 0 0.206 0.013 0.41 0.037 0.61l-0.002-0.024c0.332 2.046 2.086 3.59 4.201 3.59 0.061 0 0.121-0.001 0.181-0.004l-0.009 0c1.463-0.044 2.733-0.831 3.451-1.994l0.010-0.018c0.267-0.372 0.45-0.822 0.511-1.311l0.001-0.014c0.125-2.237 0.075-4.461 0.087-6.698 0.012-5.036-0.012-10.060 0.025-15.083z"
            />
          </svg>
        </a>
      </li>
      <li class="group">
        <a href="https://www.youtube.com/@SamuelIfere-uy8vs" target="_blank">
          <svg width="25" height="18" viewBox="0 0 25 18" fill="none">
            <path
              class="fill-white group-hover:fill-indigo-300"
              d="M9.61856 12.6001L15.8466 9.0001L9.61856 5.4001V12.6001ZM23.4906 3.2041C23.6466 3.7681 23.7546 4.5241 23.8266 5.4841C23.9106 6.4441 23.9466 7.2721 23.9466 7.9921L24.0186 9.0001C24.0186 11.6281 23.8266 13.5601 23.4906 14.7961C23.1906 15.8761 22.4946 16.5721 21.4146 16.8721C20.8506 17.0281 19.8186 17.1361 18.2346 17.2081C16.6746 17.2921 15.2466 17.3281 13.9266 17.3281L12.0186 17.4001C6.99055 17.4001 3.85855 17.2081 2.62255 16.8721C1.54255 16.5721 0.846555 15.8761 0.546555 14.7961C0.390555 14.2321 0.282555 13.4761 0.210555 12.5161C0.126555 11.5561 0.0905546 10.7281 0.0905546 10.0081L0.0185547 9.0001C0.0185547 6.3721 0.210555 4.4401 0.546555 3.2041C0.846555 2.1241 1.54255 1.4281 2.62255 1.1281C3.18655 0.972098 4.21855 0.864097 5.80256 0.792097C7.36256 0.708097 8.79056 0.672098 10.1106 0.672098L12.0186 0.600098C17.0466 0.600098 20.1786 0.792098 21.4146 1.1281C22.4946 1.4281 23.1906 2.1241 23.4906 3.2041Z"
            />
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>
